.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}
.login__logo {
  margin: 20px auto;
  object-fit: contain;
  width: 100px;
}

.login__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 20px;
}

.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login__container label {
  display: block;
  margin-bottom: 5px;
}

.login__container input {
  height: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  width: 98%;
  border: 1px solid #ccc;
  padding: 0 5px;
  box-sizing: border-box;
}

.login__container p {
  margin-top: 15px;
  font-size: 12px;
}
.login__signInButton {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  width: 100%;
  height: 30px;
}

.lgoin__registerButton {
  border: 1px solid;
  margin-top: 10px;
  border-color: #666;
  width: 100%;
  height: 30px;
}
